asgiref==3.8.1
chardet==5.2.0
Django==5.2.1
django-admin-interface==0.30.0
django-colorfield==0.14.0
django-unfold==0.59.0
nepali-datetime==1.0.8.4
pillow==11.2.1
python-slugify==8.0.4
reportlab==4.4.1
sqlparse==0.5.3
text-unidecode==1.3
